/**
*My CSS
**/

.welcome {
	background: url("../img/computer.jpg")no-repeat center center fixed;
	background-size: cover;
}

.jumbotron {
	background: rgba(0,0,0,0);
	height: 400px;
	width: 100%;
	display: table;
	vertical-align: middle;
	color: white;
	position: relative;
	padding: 190px 15px;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 5rem;
}

.jumbotron > h1  {
	text-shadow: 2px 1px 0 #000;
}

.jumbotron > h2 {
	text-shadow: 1px 1px 0 #000;
}

section {
	margin: 30px 0;
}

.navbar {
	text: black;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: lightgray;

		//*#f5f5f5; *//
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}
.container .text-muted {
	margin: 20px 0;
}
