/**
*My CSS
**/

.jumbotron {

	background: url("../img/computer.jpg")no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	height: 400px;
	width: 100%;
	display: table;
	vertical-align: middle;
	color: beige;
	position: relative;
	padding: 150px 15px;
	text-align: center;
}

