/**
*My CSS
**/

.welcome {
	background: url("../img/computer.jpg")no-repeat center center fixed;
	background-size: cover;
}

.jumbotron {
	background: rgba(0,0,0,0);
	height: 400px;
	width: 100%;
	display: table;
	vertical-align: middle;
	color: white;
	position: relative;
	padding: 190px 15px;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 5rem;
}

.jumbotron > h1  {
	text-shadow: 2px 1px 0 #000;
}

.jumbotron > h2 {
	text-shadow: 1px 1px 0 #000;
}

section {
	margin: 30px 0;
}


#contact-form {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 70px;
}





/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*.container {
	width: auto;
	max-width: 680px;
	padding: 0 40px;
}
.container .text-muted {
	margin: 20px 0;
}-->
